@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
  --font-family-sans: 'Questrial', -apple-system, BlinkMacSystemFont, sans-serif;

  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #a6a6a6;
}
