/* @import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap'); */

/* @font-face {
  font-family: 'Maison Neue';
  src: url('../assets/MaisonNeueExtendedWEB-Medium.woff2') format('woff2'),
    url('../assets/MaisonNeueExtendedWEB-Medium.woff') format('woff');
}

:root {
  --font-family-sans: 'Maison Neue', -apple-system, BlinkMacSystemFont, sans-serif;

  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #a6a6a6;
} */
