@import '../styles/custom-media.css';

.root {
  box-sizing: border-box;
  max-width: 960px;
  padding: 1.5em;
  margin: 0 auto;

  @media (--media-min-small) {
    padding: 2em;
  }
}

.wide {
  max-width: unset;

  @media (--media-min-small) {
    padding: 3rem;
  }
}

.short {
  @media (--media-min-small) {
    padding: 0 3rem;
  }
}