@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.root {
  position: relative;
  z-index: 100;
}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  align-items: center;

  @media (--media-min-small) {
    padding: 3rem 3rem 1.5rem;
  }
}

.branding {
  /* flex: 1; */

  @nest & a {
    display: inline-block;
    height: 45px;

    @nest & img {
      height: 100%;
    }
  }

  @media (--media-max-small) {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    @nest & a {
      text-align: right;
    }
  }
}

.toggleNavButton {
  appearance: none;
  font-size: 25px;
  border: none;
  background: none;
  margin: 0;
  padding: calc(14 / 17 / 2 * 1rem);
  outline: none;
  color: inherit;

  @nest & svg {
    display: block;
    fill: inherit;
  }

  @media (--media-min-small) {
    display: none;
  }
}

.nav {
  display: none;

  @nest & ul {
    margin: 0;
    padding: 0;
  }

  @media (--media-max-small) {
    position: absolute;
    background: var(--color-white);
    color: var(--color-black);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    left: 0;
    right: 0;
    top: 4.3rem;

    @nest & ul {
      padding: 1rem;
      list-style: none;
      display: flex;
      justify-content: space-between;
    }
  }

  @media (--media-min-small) {
    display: block;
    flex-grow: 1;

    @nest & ul {
      list-style: none;
      display: flex;
      justify-content: flex-start;
    }

    @nest & ul li:not(:last-child) {
      margin-right: 4rem;
    }
  }

  @media (--media-min-large) {
    @nest & ul li:not(:last-child) {
      margin-right: 14rem;
    }
  }
}

.showNav {
  display: block;
}
