@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  width: 100%;

  @media (--media-min-small) {
    padding: 3rem 3rem 1.5rem;
  }
}

.wrapper {
  background-color: var(--color-white);

  @media (--media-max-small) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.3em 1em;
    z-index: 10;
  }
}

.branding {
  /* flex: 1; */

  @nest & a {
    display: inline-block;
    height: 40px;

    @nest & img {
      height: 100%;
    }
  }

  @media (--media-max-small) {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    @nest & a {
      height: 24px;
      text-align: right;
    }
  }
}

.toggleNavButton {
  appearance: none;
  font-size: 50px;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  outline: none;
  color: inherit;

  @nest & svg {
    display: block;
    fill: inherit;
  }

  @media (--media-min-small) {
    display: none;
  }
}

.nav {
  @nest & ul {
    margin: 0;
    padding: 0;
  }

  @media (--media-max-small) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    background: var(--color-white);
    color: var(--color-black);
    border-bottom: 3px solid var(--color-black);
    transition: top 300ms ease;

    @nest & ul {
      padding: 1rem;
      list-style: none;
      display: flex;
      justify-content: space-between;
    }
  }

  @media (--media-min-small) {
    display: block;
    flex-grow: 1;

    @nest & ul {
      list-style: none;
      display: flex;
      justify-content: flex-start;
    }

    @nest & ul li:not(:last-child) {
      margin-right: 4rem;
    }
  }

  @media (--media-min-large) {
    @nest & ul li:not(:last-child) {
      margin-right: 14rem;
    }
  }
}

.showNav {
  top: 5.5rem;
}
