@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  width: 100%;

  @media (--media-min-small) {
    padding: 3rem 3rem 1.5rem;
  }
}

.wrapper {
  background-color: var(--color-white);

  @media (--media-max-small) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.3em 1em;
    z-index: 10;
  }
}

.branding {
  /* flex: 1; */

  @nest & a {
    display: inline-block;
    height: 40px;

    @nest & img {
      height: 100%;
    }
  }

  @media (--media-max-small) {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    @nest & a {
      height: 24px;
      text-align: right;
    }
  }
}
