@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';


.pageWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.content {
  background: var(--color-white);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer {
  margin-bottom: 3rem;
  color: var(--color-gray);

  @media (--media-max-small) {
    text-align: center;
    margin-top: 3rem;
  }
}

.centeredFooter {
  text-align: center;
}
