@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';


.pageWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.content {
  background: var(--color-white);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;


  /* min-height: calc(100% - 73px - 120px); */

  /* @media (--media-min-small) {
    min-height: calc(100% - 88px - 150px);
  } */
}

.footer {
  /* height: 50px; */
  margin-bottom: 3rem;
  color: var(--color-gray);
}

.centeredFooter {
  text-align: center;
}
