@import "../styles/custom-media.css";

.wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 30vh;
}

.title {
  margin: 0;
  text-align: right;
  white-space: pre-line;
}

.contactBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: bold;
  width: 100%;
  max-width: 35rem;
  font-style: normal;

  @nest & span {
    flex: 1 0 40%;
    padding-top: 2rem;
    margin: 0;
  }

  @nest & span:not(:first-child) {
    text-align: right;
  }

  @nest & a {
    text-decoration: none;
    color: var(--color-black);
  }
}
