@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.08rem 1.8rem;
    font-size: 1.7rem;
    font-weight: bold;
    border-radius: 500px;
    margin: 3px;
    color: var(--color-black);

    @media (hover: hover) {
        @nest &:hover {
            border: 3px solid var(--color-black);
            margin: 0;
            color: var(--color-black);
        }
    }
}

.outlined {
    border: 3px solid var(--color-black);
    margin: 0;
}
