@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.videoContainer {
  position: relative;
  padding-top: 56.25%;

  @media (--media-max-small) {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  @media (--media-min-small) {
    margin-bottom: 3rem;
  }
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 0.7rem;

  @media (--media-max-small) {
    margin-bottom: 1rem;
  }
}

.excerpt {
  max-width: 80%;
  margin-top: 0;
  margin: auto;
  text-align: center;

  @media (--media-max-small) {
    margin-bottom: 1rem;
  }

  @media (--media-min-small) {
    margin-bottom: 6rem;
  }
}

.contributorsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}

.contributorBlock {
  flex: 1 0 40%;
  margin: 0;
  font-weight: bold;

  @media (--media-max-small) {
    flex: 1 0 99%;
    text-align: center;
    padding: 0.4rem 0;
  }

  @media (--media-min-small) {
    padding: 0.8rem 0;

    @nest &:nth-child(2n) {
      text-align: right;
    }
  }
}
