@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  flex-grow: 1;
}

.header {
  width: 100%;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 0.7rem;

  @media (--media-max-small) {
    margin-top: 3rem;
  }
}

.excerpt {
  composes: body2 from '../components/typography.module.css';
  margin-top: 0;
  margin: auto !important;
  text-align: center;
  white-space: pre-line;

  @media (--media-max-small) {
    max-width: 90%;
    margin-bottom: 2rem !important;
  }

  @media (--media-min-small) {
    max-width: 80%;
    margin-bottom: 2rem !important;
  }
}

.videoContainer {
  position: relative;
  padding-top: 56.25%;

  @media (--media-max-small) {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  @media (--media-min-small) {
    margin-bottom: 3rem;
  }
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
}

.imageGrid {
  width: calc(100% + 0.8rem);
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.4rem;
  margin-right: -0.4rem;

  @nest & > div {
    flex: 1 0 26%;
    max-width: 33.3%;
    padding: 0.4rem;
    box-sizing: border-box;

    @nest & a {
      width: 100%;

      @nest & > img {
        width: 100%;
      }
    }
  }

  @media (--media-min-small) {
    width: calc(100% + 2rem);
    margin-left: -1rem;
    margin-right: -1rem;

    @nest & > div {
      padding: 1rem;
    }
  }
}

.contributorsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4rem;

  @media (--media-min-small) {
    margin-top: 3rem;
  }
}

.contributorBlock {
  composes: body3 from '../components/typography.module.css';
  flex: 1 0 40%;
  margin: 0;

  /* @media (--media-max-small) {
    flex: 1 0 99%;
    text-align: center;
    padding: 0.4rem 0;
  } */

  @nest &:nth-child(2n) {
    text-align: right;
  }

  @media (--media-min-small) {
    padding: 0.8rem 0;
  }
}
