{
//   "plugins": [
//     ["@babel/plugin-proposal-decorators", { "legacy": true }]
//   ],
  "plugins": [["babel-plugin-styled-components",
    {
        "displayName": false
    }]],
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ]
  ]
}